input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#btn-submit {
    font-size: 1.1rem;
    float: right;
    padding: 0.6rem 2rem;
    margin-top: 1rem;
}

.star-full i {
    color: #ffc700;
    font-size: 1.4rem;
}

.star-out i {
    font-size: 1.4rem;
}

.btn-outline-primary,
a,
.delete-price {
    color: #ffc700;
    border-color: #ffc700;
}

.delete-price:hover {
    color: #be9800;
}

.btn-outline-primary:hover {
    background-color: #ffc700;
    color: #1e1e1e;
}
