#add_price {
    width: 100px;
    margin: auto;
}

#add_price i {
    font-size: 2.8rem;
}

#add_price:hover {
    cursor: pointer;
    color: #ffc700;
}

.delete-price {
    height: 100%;
    background: none;
    border: none;
}

.delete-price i {
    display: block;
    font-size: 1.6rem;
    translate: 0 8px;
}

.delete-price:hover {
    color: #be9800;
}
